.dashboard .header-wrapper{
display: flex;
align-items: center;
justify-content: space-between;
}

.dashboard {
    margin-left: 15%;
    padding: 30px;
}
/* 
.wrapper{
    width: 100%;
} */

.input-group{
    width: 350px;
}

tbody th{
    cursor: pointer;
}

tbody th:hover{
background: gray;
}

.user-table{
    
}

.leadTable
{
    width : 100vw;
}